<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IMPORT FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@200&display=swap" rel="stylesheet">
    <!--FINE IMPORT FONTS-->
    <link rel="icon" type="image/x-icon" href="../static/images/icon_16x16.png">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <title>Marco's Portfolio</title>
</head>

<body>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="nav-link"><a href="#bio">BIO</a></li>
            <li class="nav-link"><a href="#education">EDUCATION</a></li>
            <li class="nav-link"><a href="#projects">PROJECTS</a></li>
            <li class="nav-link"><a href="#about">ABOUT</a></li>
            <li class="nav-link"><a href="#contacts">CONTACTS</a></li>
            <li class="nav-link" id="clock">
                <div onload="showTime()"></div>
            </li>
        </ul>
    </nav>
    <main>
        <h1 class="title">Marco Sabau</h1>
        <section id="bio">
            <h2 class="section-title">BIO</h2>
            <p>Hi, my name is Marco, I'm 24 and I've always had a passion for IT. I was 4 when I first layed my hands on
                a computer and since then I've always tried to learn new things about hardware and software alike. This
                led me to learn coding basics and then to attend a 480 hours course on backend webdev and now I'm
                confident to say that I'm at a junior level</p>
        </section>
        <section id="education">
            <h2 class="section-title">EDUCATION</h2>
            <p>I learned the basics of coding in high school with C++. There I also learned some front end (HTML, CSS)
                and SQL. After that I developed my frontend knowledge through Freecodecamp by attending their course. It
                was fun and now I know a good amount of HTML, CSS and JS. Then I attended a 480 hours online course
                focused on backend things. There I learned how to build a webapp using Java (including Spring), MySQL
                and HTML, CSS and JS (I also used quite a bit of JQuery)</p>
        </section>
        <section id="projects">
            <h2 class="section-title">PROJECTS</h2>
            <p id="todo"><a href="https://codepen.io/nonnodacciaio/pen/jOZoZdK" target="_blank">Todo app</a></p>
            <p id="projectwork"><a href="https://github.com/nonnodacciaio/Incredible-Style" target="_blank">Complete
                    webapp</a></p>
            <p class="calculator"><a href="/calculator" target="_blank">Calculator</a></p>
        </section>
        <section id="about">
            <h2 class="section-title">ABOUT</h2>
            <p>This portfolio was made using HTML5, CSS and JS. In particular I used flex to make it responsive and I
                used JQuery for the logic. I initially deployed ut to GitHub pages, but then I moved it to Heroku as I
                plan on adding a backend</p>
        </section>
        <section>
            <h2 class="section-title" id="contacts">CONTACTS</h2>
            <p>marco.sabau@gmail.com</p>
            <p>+39 327 5411346</p>
            </ul>
        </section>
        <footer>
            Copyright &copy; 2022 Marco Sabau
        </footer>
    </main>
</body>

</html>