<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--IMPORT FONTS-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Neuton:wght@200&display=swap" rel="stylesheet">
    <!--FINE IMPORT FONTS-->
    <link th:href="@{/css/todo.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/todo.js}"></script>
    <title>Todo app</title>
</head>

<body>
    <h1 class="title">Todo app</h1>
    <div class="wrapper">
        <input type="text" placeholder="Todo..." id="input">
        <input type="button" value="ADD" id="add">
    </div>
    <h3 class="subtitle">Todos</h3>
    <div id="output">

    </div>
</body>

</html>